/* Start Main Rulez */

body {
  background-color: #f4f4f4;
  height: 1000px;
}

h1 {
  font-size: 50px;
  margin: 20px 0;
  font-weight: bold;
  color: #666;
}
/* End Main Rulez */

/* Start Bootstrap Edits */

/* Start Dropdown Edits*/

@media (min-width: 992px) {
  #nav-app.collapse.navbar-collapse.dr-menu {
    position: absolute;
    right: 100px;
  }
}

@media (max-width: 991px) {
  .collapse:not(.show) {
    display: block;
  }
}

/* End Dropdown Edits*/

/* End Bootstrap Edits */

/* Start Header */
.upper-bar {
  padding: 10px;
  background-color: #fff;
}
/* Start Header */

/* Start login page */

.login-page form,
.the-errors {
  max-width: 350px;
  margin: auto;
}

.login-page form input {
  margin-bottom: 10px;
}

.login-page .selected {
  color: #0984e3;
}

.login-page h1 {
  color: #b2bec3;
}

.login-page h1 span {
  cursor: pointer;
}

.login-page .signup {
  display: none;
}

.the-errors .msg {
  padding: 10px;
  text-align: left;
  border-left: 5px solid #ff7675;
  background-color: #fff;
  margin-bottom: 8px;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: #919191;
}
.the-errors .error {
  border-left: 5px solid #ff7675;
}
.msg.success {
  border-left: 5px solid #00cec9;
}
/* End login page */

/* Start Categories page */
.item-box {
  position: relative;
  padding: 5px;
}
.item-box .price-tag {
  position: absolute;
  background-color: #b4b4b4;
  padding: 2px 10px;
  left: 0;
  top: 10px;
  font-weight: bold;
  color: #fff;
}

/* End Categories page */

/* Start Profile page */
.block {
  margin: 20px 0;
}

.information ul {
  padding: 0;
  margin: 0;
}

.information ul li {
  padding: 10px;
}

.information ul li:nth-child(odd) {
  background-color: #c1daff;
}

.information ul li span {
  display: inline-block;
  width: 160px;
}

.item-box .date {
  text-align: right;
  font-size: 13px;
  color: #aaa;
  font-weight: bold;
}

/* End Profile page */

/* Start items info page */

.item-info h2 {
  padding: 10px;
  margin: 0;
}

.item-info p {
  padding: 10px;
  font-size: larger;
  font-weight: bold;
}

.item-info ul li {
  padding: 10px;
}

.item-info ul li:nth-child(odd) {
  background-color: #c1daff;
}

.item-info ul li span {
  display: inline-block;
  width: 160px;
  padding: 0 5px;
}

.add-comment h3 {
  margin: 0 0 10px;
}

.add-comment textarea {
  display: block;
  margin-bottom: 10px;
  width: 400px;
  height: 100px;
}

.add-comment .alert.alert-info {
  width: 350px;
  text-align: center;
  margin: 10px 0;
  font-weight: bold;
}

.show-comment hr {
  margin: 10px 0;
}

.show-comment img {
  max-width: 100px;
  display: block;
  margin: 2px auto;
}

.show-comment .lead {
  padding: 10px;
  text-align: left;
  border-left: 5px solid #0984e3;
  background-color: #fff;
  margin-bottom: 8px;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  color: #919191;
}
/* End items info page */
